@model OnlineClassManagement.Models.User

@{
    ViewData["Title"] = "Vô hiệu hóa tài khoản";
}

<h1>Vô hiệu hóa tài khoản</h1>

<h3>Bạn có chắc chắn muốn vô hiệu hóa tài khoản này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Họ tên</dt>
        <dd class="col-sm-10">@Model.FullName</dd>
        
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        
        <dt class="col-sm-2">Vai trò</dt>
        <dd class="col-sm-10">@Model.Role</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Vô hiệu hóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>

